body {
    background-image: linear-gradient(to bottom right,rgba(233, 82, 190, 0.302),white), url('OKI-DOKI.png') ;
    background-size:cover;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-attachment: fixed;

}

.main{
    width: 100%;
}
.div1{
    width:60%;
    height:800px;
    float: left;
}

.div2{
    max-height:800px;
        
}

.bichota{ 
    font-family:font-family, 'Cormorant Garamond', serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color:black;
    margin: 800px 60px 0px 0px ;
    text-align:center;
    
}

.karol{
    font-family: font-family, 'Cormorant Garamond' serif;
    font-family: 'Permanent Marker', cursive;
    font-size:40px;
    color:black;
    margin:0px 60px 0px 0px; 
    text-align: center;

}

button{
    background-image: url(sirena.png);
    background-size: cover;
    border:rgb(237, 230, 237) solid 2px;
    padding:35px 85px 45px 0px;
    margin:0px 0px 0px 250px ;
    color:rgb(219, 172, 206);
    font-size: 19px;
}

